In [2]:
import pandas as pd

In [3]:
df_at = pd.read_csv('data/all_tables.csv',low_memory=False)

In [4]:
df_at.shape

(58369, 2093)

In [5]:
cenesus_column_headers = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/city-data-comparison-ds/master/data-help/census-columns.csv')

In [6]:
print(cenesus_column_headers.shape)
cenesus_column_headers.head(100)
#88

(381, 1)

   column_headers
0      DP02_0001E
1      DP02_0002E
2     DP02_0002PE
3     DP02_0004PE
4      DP02_0017E
..            ...
95    DP03_0020PE
96    DP03_0021PE
97    DP03_0022PE
98    DP03_0023PE
99    DP03_0024PE

[100 rows x 1 columns]

In [7]:
cenesus_column_headers.head()

  column_headers
0     DP02_0001E
1     DP02_0002E
2    DP02_0002PE
3    DP02_0004PE
4     DP02_0017E

In [10]:

##the = {'column_headers':'GEO_ID'}
next_yea = {'column_headers':'NAME'} 
#new_thing2 = cenesus_column_headers.append(the, ignore_index=True)
new_thing3 = new_thing2.append(next_yea, ignore_index=True)

In [11]:
new_thing3

    column_headers
0       DP02_0001E
1       DP02_0002E
2      DP02_0002PE
3      DP02_0004PE
4       DP02_0017E
..             ...
378     DP05_0087E
379    DP05_0088PE
380    DP05_0089PE
381         GEO_ID
382           NAME

[383 rows x 1 columns]

In [12]:

#name = ['NAME'] 

those_the = new_thing3.values.tolist()
#first = these.append(the)
#second = first.append(name)

In [13]:
those_the

[['DP02_0001E'],
 ['DP02_0002E'],
 ['DP02_0002PE'],
 ['DP02_0004PE'],
 ['DP02_0017E'],
 ['DP02_0024E'],
 ['DP02_0025PE'],
 ['DP02_0026PE'],
 ['DP02_0027PE'],
 ['DP02_0029PE'],
 ['DP02_0030E'],
 ['DP02_0031PE'],
 ['DP02_0032PE'],
 ['DP02_0033PE'],
 ['DP02_0035PE'],
 ['DP02_0036E'],
 ['DP02_0036M'],
 ['DP02_0037PE'],
 ['DP02_0039E'],
 ['DP02_0040E'],
 ['DP02_0041E'],
 ['DP02_0042E'],
 ['DP02_0052E'],
 ['DP02_0052PE'],
 ['DP02_0053PE'],
 ['DP02_0054PE'],
 ['DP02_0055PE'],
 ['DP02_0056PE'],
 ['DP02_0057PE'],
 ['DP02_0058E'],
 ['DP02_0059PE'],
 ['DP02_0060PE'],
 ['DP02_0061PE'],
 ['DP02_0062PE'],
 ['DP02_0063PE'],
 ['DP02_0064PE'],
 ['DP02_0065PE'],
 ['DP02_0066PE'],
 ['DP02_0067PE'],
 ['DP02_0069E'],
 ['DP02_0069PE'],
 ['DP02_0071E'],
 ['DP02_0071PE'],
 ['DP02_0078E'],
 ['DP02_0078PE'],
 ['DP02_0084E'],
 ['DP02_0084PE'],
 ['DP02_0085E'],
 ['DP02_0085PE'],
 ['DP02_0087PE'],
 ['DP02_0088PE'],
 ['DP02_0089PE'],
 ['DP02_0090PE'],
 ['DP02_0092PE'],
 ['DP02_0111PE'],
 ['DP02_0112PE'],
 ['DP02_0113PE'],
 ['DP02_0114PE'],
 ['DP02_0116PE'],
 ['DP02_0118PE'],
 ['DP02_0120PE'],
 ['DP02_0123PE'],
 ['DP02_0124PE'],
 ['DP02_0125PE'],
 ['DP02_0126PE'],
 ['DP02_0127PE'],
 ['DP02_0128PE'],
 ['DP02_0129PE'],
 ['DP02_0130PE'],
 ['DP02_0131PE'],
 ['DP02_0132PE'],
 ['DP02_0133PE'],
 ['DP02_0134PE'],
 ['DP02_0135PE'],
 ['DP02_0136PE'],
 ['DP02_0137PE'],
 ['DP02_0138PE'],
 ['DP02_0139PE'],
 ['DP02_0140PE'],
 ['DP02_0142PE'],
 ['DP02_0143PE'],
 ['DP02_0144PE'],
 ['DP02_0145PE'],
 ['DP02_0146PE'],
 ['DP02_0147PE'],
 ['DP02_0148PE'],
 ['DP02_0149PE'],
 ['DP02_0151PE'],
 ['DP02_0152PE'],
 ['DP03_0001E'],
 ['DP03_0002PE'],
 ['DP03_0009PE'],
 ['DP03_0011PE'],
 ['DP03_0018E'],
 ['DP03_0019PE'],
 ['DP03_0020PE'],
 ['DP03_0021PE'],
 ['DP03_0022PE'],
 ['DP03_0023PE'],
 ['DP03_0024PE'],
 ['DP03_0025E'],
 ['DP03_0026E'],
 ['DP03_0027PE'],
 ['DP03_0028PE'],
 ['DP03_0029PE'],
 ['DP03_0030PE'],
 ['DP03_0033PE'],
 ['DP03_0034PE'],
 ['DP03_0035PE'],
 ['DP03_0036PE'],
 ['DP03_0037PE'],
 ['DP03_0038PE'],
 ['DP03_0039PE'],
 ['DP03_0040PE'],
 ['DP03_0041PE'],
 ['DP03_0042PE'],
 ['DP03_0043PE'],
 ['DP03_0044PE'],
 ['DP03_0045PE'],
 ['DP03_0047PE'],
 ['DP03_0048PE'],
 ['DP03_0049PE'],
 ['DP03_0050PE'],
 ['DP03_0051E'],
 ['DP03_0052PE'],
 ['DP03_0053PE'],
 ['DP03_0054PE'],
 ['DP03_0055PE'],
 ['DP03_0056PE'],
 ['DP03_0057PE'],
 ['DP03_0058PE'],
 ['DP03_0059PE'],
 ['DP03_0060PE'],
 ['DP03_0061PE'],
 ['DP03_0062E'],
 ['DP03_0063E'],
 ['DP03_0064PE'],
 ['DP03_0065E'],
 ['DP03_0066PE'],
 ['DP03_0067E'],
 ['DP03_0068PE'],
 ['DP03_0069E'],
 ['DP03_0070PE'],
 ['DP03_0071E'],
 ['DP03_0072PE'],
 ['DP03_0073E'],
 ['DP03_0074PE'],
 ['DP03_0075E'],
 ['DP03_0076PE'],
 ['DP03_0077PE'],
 ['DP03_0078PE'],
 ['DP03_0079PE'],
 ['DP03_0080PE'],
 ['DP03_0081PE'],
 ['DP03_0082PE'],
 ['DP03_0083PE'],
 ['DP03_0084PE'],
 ['DP03_0085PE'],
 ['DP03_0086E'],
 ['DP03_0087E'],
 ['DP03_0088E'],
 ['DP03_0090E'],
 ['DP03_0091E'],
 ['DP03_0092E'],
 ['DP03_0093E'],
 ['DP03_0094E'],
 ['DP03_0095E'],
 ['DP03_0096PE'],
 ['DP03_0097PE'],
 ['DP03_0098PE'],
 ['DP03_0099PE'],
 ['DP03_0100PE'],
 ['DP03_0101PE'],
 ['DP03_0102PE'],
 ['DP03_0103PE'],
 ['DP03_0104PE'],
 ['DP03_0105PE'],
 ['DP03_0106PE'],
 ['DP03_0107PE'],
 ['DP03_0108PE'],
 ['DP03_0109PE'],
 ['DP03_0110PE'],
 ['DP03_0111PE'],
 ['DP03_0112PE'],
 ['DP03_0113PE'],
 ['DP03_0114PE'],
 ['DP03_0115PE'],
 ['DP03_0116PE'],
 ['DP03_0117PE'],
 ['DP03_0118PE'],
 ['DP03_0119PE'],
 ['DP03_0120PE'],
 ['DP03_0121PE'],
 ['DP03_0122PE'],
 ['DP03_0123PE'],
 ['DP03_0124PE'],
 ['DP03_0125PE'],
 ['DP03_0126PE'],
 ['DP03_0127PE'],
 ['DP03_0128PE'],
 ['DP03_0129PE'],
 ['DP03_0130PE'],
 ['DP03_0131PE'],
 ['DP03_0132PE'],
 ['DP03_0133PE'],
 ['DP03_0134PE'],
 ['DP03_0135PE'],
 ['DP03_0136PE'],
 ['DP03_0137PE'],
 ['DP04_0001E'],
 ['DP04_0002PE'],
 ['DP04_0003PE'],
 ['DP04_0004E'],
 ['DP04_0005E'],
 ['DP04_0007PE'],
 ['DP04_0008PE'],
 ['DP04_0009PE'],
 ['DP04_0010PE'],
 ['DP04_0011PE'],
 ['DP04_0012PE'],
 ['DP04_0013PE'],
 ['DP04_0014PM'],
 ['DP04_0015E'],
 ['DP04_0016E'],
 ['DP04_0017PE'],
 ['DP04_0018PE'],
 ['DP04_0019PE'],
 ['DP04_0020PE'],
 ['DP04_0021PE'],
 ['DP04_0022PE'],
 ['DP04_0023PE'],
 ['DP04_0024PE'],
 ['DP04_0025PE'],
 ['DP04_0026PE'],
 ['DP04_0027E'],
 ['DP04_0028PE'],
 ['DP04_0029PE'],
 ['DP04_0030PE'],
 ['DP04_0031PE'],
 ['DP04_0032PE'],
 ['DP04_0033PE'],
 ['DP04_0034PE'],
 ['DP04_0035PE'],
 ['DP04_0036PE'],
 ['DP04_0037E'],
 ['DP04_0039PE'],
 ['DP04_0040PE'],
 ['DP04_0041PE'],
 ['DP04_0042PE'],
 ['DP04_0043PE'],
 ['DP04_0044PE'],
 ['DP04_0045E'],
 ['DP04_0046E'],
 ['DP04_0047PE'],
 ['DP04_0048E'],
 ['DP04_0049E'],
 ['DP04_0050E'],
 ['DP04_0051PE'],
 ['DP04_0052PE'],
 ['DP04_0053PE'],
 ['DP04_0054PE'],
 ['DP04_0055PE'],
 ['DP04_0056PE'],
 ['DP04_0057E'],
 ['DP04_0058PE'],
 ['DP04_0059PE'],
 ['DP04_0060PE'],
 ['DP04_0061PE'],
 ['DP04_0062E'],
 ['DP04_0063PE'],
 ['DP04_0064PE'],
 ['DP04_0065PE'],
 ['DP04_0066PE'],
 ['DP04_0067PE'],
 ['DP04_0068PE'],
 ['DP04_0069PE'],
 ['DP04_0070PE'],
 ['DP04_0071PE'],
 ['DP04_0072E'],
 ['DP04_0073PE'],
 ['DP04_0074PE'],
 ['DP04_0075PE'],
 ['DP04_0076E'],
 ['DP04_0077PE'],
 ['DP04_0078PE'],
 ['DP04_0079PE'],
 ['DP04_0080E'],
 ['DP04_0081PE'],
 ['DP04_0082PE'],
 ['DP04_0083PE'],
 ['DP04_0084PE'],
 ['DP04_0085PE'],
 ['DP04_0086PE'],
 ['DP04_0087PE'],
 ['DP04_0088PE'],
 ['DP04_0089E'],
 ['DP04_0090E'],
 ['DP04_0091PE'],
 ['DP04_0092PE'],
 ['DP04_0093E'],
 ['DP04_0094PE'],
 ['DP04_0095PE'],
 ['DP04_0096PE'],
 ['DP04_0097PE'],
 ['DP04_0098PE'],
 ['DP04_0099PE'],
 ['DP04_0100PE'],
 ['DP04_0101E'],
 ['DP04_0102E'],
 ['DP04_0103PE'],
 ['DP04_0104PE'],
 ['DP04_0105PE'],
 ['DP04_0106PE'],
 ['DP04_0107PE'],
 ['DP04_0108PE'],
 ['DP04_0109E'],
 ['DP04_0110E'],
 ['DP04_0111PE'],
 ['DP04_0112PE'],
 ['DP04_0113PE'],
 ['DP04_0114PE'],
 ['DP04_0115PE'],
 ['DP04_0116E'],
 ['DP04_0117E'],
 ['DP04_0118PE'],
 ['DP04_0119PE'],
 ['DP04_0121PE'],
 ['DP04_0122PE'],
 ['DP04_0123PE'],
 ['DP04_0124PE'],
 ['DP04_0125E'],
 ['DP04_0126E'],
 ['DP04_0127PE'],
 ['DP04_0128PE'],
 ['DP04_0129PE'],
 ['DP04_0130PE'],
 ['DP04_0131PE'],
 ['DP04_0132PE'],
 ['DP04_0133PE'],
 ['DP04_0134E'],
 ['DP04_0135E'],
 ['DP04_0136E'],
 ['DP04_0137PE'],
 ['DP04_0138PE'],
 ['DP04_0139PE'],
 ['DP04_0140PE'],
 ['DP04_0141PE'],
 ['DP04_0142PE'],
 ['DP04_0143E'],
 ['DP05_0001E'],
 ['DP05_0002PE'],
 ['DP05_0003PE'],
 ['DP05_0005E'],
 ['DP05_0006PE'],
 ['DP05_0007PE'],
 ['DP05_0008PE'],
 ['DP05_0009PE'],
 ['DP05_0010PE'],
 ['DP05_0011PE'],
 ['DP05_0012PE'],
 ['DP05_0013PE'],
 ['DP05_0014PE'],
 ['DP05_0015PE'],
 ['DP05_0016PE'],
 ['DP05_0017PE'],
 ['DP05_0018E'],
 ['DP05_0019PE'],
 ['DP05_0020PE'],
 ['DP05_0071PE'],
 ['DP05_0077PE'],
 ['DP05_0078PE'],
 ['DP05_0079PE'],
 ['DP05_0080PE'],
 ['DP05_0081PE'],
 ['DP05_0082PE'],
 ['DP05_0083PE'],
 ['DP05_0084PE'],
 ['DP05_0085PE'],
 ['DP05_0087E'],
 ['DP05_0088PE'],
 ['DP05_0089PE'],
 ['GEO_ID'],
 ['NAME']]

In [14]:
those_the_super = [item[0] for item in those_the]
those_the_super

['DP02_0001E',
 'DP02_0002E',
 'DP02_0002PE',
 'DP02_0004PE',
 'DP02_0017E',
 'DP02_0024E',
 'DP02_0025PE',
 'DP02_0026PE',
 'DP02_0027PE',
 'DP02_0029PE',
 'DP02_0030E',
 'DP02_0031PE',
 'DP02_0032PE',
 'DP02_0033PE',
 'DP02_0035PE',
 'DP02_0036E',
 'DP02_0036M',
 'DP02_0037PE',
 'DP02_0039E',
 'DP02_0040E',
 'DP02_0041E',
 'DP02_0042E',
 'DP02_0052E',
 'DP02_0052PE',
 'DP02_0053PE',
 'DP02_0054PE',
 'DP02_0055PE',
 'DP02_0056PE',
 'DP02_0057PE',
 'DP02_0058E',
 'DP02_0059PE',
 'DP02_0060PE',
 'DP02_0061PE',
 'DP02_0062PE',
 'DP02_0063PE',
 'DP02_0064PE',
 'DP02_0065PE',
 'DP02_0066PE',
 'DP02_0067PE',
 'DP02_0069E',
 'DP02_0069PE',
 'DP02_0071E',
 'DP02_0071PE',
 'DP02_0078E',
 'DP02_0078PE',
 'DP02_0084E',
 'DP02_0084PE',
 'DP02_0085E',
 'DP02_0085PE',
 'DP02_0087PE',
 'DP02_0088PE',
 'DP02_0089PE',
 'DP02_0090PE',
 'DP02_0092PE',
 'DP02_0111PE',
 'DP02_0112PE',
 'DP02_0113PE',
 'DP02_0114PE',
 'DP02_0116PE',
 'DP02_0118PE',
 'DP02_0120PE',
 'DP02_0123PE',
 'DP02_0124PE',
 'DP02_0125PE',
 'DP02_0126PE',
 'DP02_0127PE',
 'DP02_0128PE',
 'DP02_0129PE',
 'DP02_0130PE',
 'DP02_0131PE',
 'DP02_0132PE',
 'DP02_0133PE',
 'DP02_0134PE',
 'DP02_0135PE',
 'DP02_0136PE',
 'DP02_0137PE',
 'DP02_0138PE',
 'DP02_0139PE',
 'DP02_0140PE',
 'DP02_0142PE',
 'DP02_0143PE',
 'DP02_0144PE',
 'DP02_0145PE',
 'DP02_0146PE',
 'DP02_0147PE',
 'DP02_0148PE',
 'DP02_0149PE',
 'DP02_0151PE',
 'DP02_0152PE',
 'DP03_0001E',
 'DP03_0002PE',
 'DP03_0009PE',
 'DP03_0011PE',
 'DP03_0018E',
 'DP03_0019PE',
 'DP03_0020PE',
 'DP03_0021PE',
 'DP03_0022PE',
 'DP03_0023PE',
 'DP03_0024PE',
 'DP03_0025E',
 'DP03_0026E',
 'DP03_0027PE',
 'DP03_0028PE',
 'DP03_0029PE',
 'DP03_0030PE',
 'DP03_0033PE',
 'DP03_0034PE',
 'DP03_0035PE',
 'DP03_0036PE',
 'DP03_0037PE',
 'DP03_0038PE',
 'DP03_0039PE',
 'DP03_0040PE',
 'DP03_0041PE',
 'DP03_0042PE',
 'DP03_0043PE',
 'DP03_0044PE',
 'DP03_0045PE',
 'DP03_0047PE',
 'DP03_0048PE',
 'DP03_0049PE',
 'DP03_0050PE',
 'DP03_0051E',
 'DP03_0052PE',
 'DP03_0053PE',
 'DP03_0054PE',
 'DP03_0055PE',
 'DP03_0056PE',
 'DP03_0057PE',
 'DP03_0058PE',
 'DP03_0059PE',
 'DP03_0060PE',
 'DP03_0061PE',
 'DP03_0062E',
 'DP03_0063E',
 'DP03_0064PE',
 'DP03_0065E',
 'DP03_0066PE',
 'DP03_0067E',
 'DP03_0068PE',
 'DP03_0069E',
 'DP03_0070PE',
 'DP03_0071E',
 'DP03_0072PE',
 'DP03_0073E',
 'DP03_0074PE',
 'DP03_0075E',
 'DP03_0076PE',
 'DP03_0077PE',
 'DP03_0078PE',
 'DP03_0079PE',
 'DP03_0080PE',
 'DP03_0081PE',
 'DP03_0082PE',
 'DP03_0083PE',
 'DP03_0084PE',
 'DP03_0085PE',
 'DP03_0086E',
 'DP03_0087E',
 'DP03_0088E',
 'DP03_0090E',
 'DP03_0091E',
 'DP03_0092E',
 'DP03_0093E',
 'DP03_0094E',
 'DP03_0095E',
 'DP03_0096PE',
 'DP03_0097PE',
 'DP03_0098PE',
 'DP03_0099PE',
 'DP03_0100PE',
 'DP03_0101PE',
 'DP03_0102PE',
 'DP03_0103PE',
 'DP03_0104PE',
 'DP03_0105PE',
 'DP03_0106PE',
 'DP03_0107PE',
 'DP03_0108PE',
 'DP03_0109PE',
 'DP03_0110PE',
 'DP03_0111PE',
 'DP03_0112PE',
 'DP03_0113PE',
 'DP03_0114PE',
 'DP03_0115PE',
 'DP03_0116PE',
 'DP03_0117PE',
 'DP03_0118PE',
 'DP03_0119PE',
 'DP03_0120PE',
 'DP03_0121PE',
 'DP03_0122PE',
 'DP03_0123PE',
 'DP03_0124PE',
 'DP03_0125PE',
 'DP03_0126PE',
 'DP03_0127PE',
 'DP03_0128PE',
 'DP03_0129PE',
 'DP03_0130PE',
 'DP03_0131PE',
 'DP03_0132PE',
 'DP03_0133PE',
 'DP03_0134PE',
 'DP03_0135PE',
 'DP03_0136PE',
 'DP03_0137PE',
 'DP04_0001E',
 'DP04_0002PE',
 'DP04_0003PE',
 'DP04_0004E',
 'DP04_0005E',
 'DP04_0007PE',
 'DP04_0008PE',
 'DP04_0009PE',
 'DP04_0010PE',
 'DP04_0011PE',
 'DP04_0012PE',
 'DP04_0013PE',
 'DP04_0014PM',
 'DP04_0015E',
 'DP04_0016E',
 'DP04_0017PE',
 'DP04_0018PE',
 'DP04_0019PE',
 'DP04_0020PE',
 'DP04_0021PE',
 'DP04_0022PE',
 'DP04_0023PE',
 'DP04_0024PE',
 'DP04_0025PE',
 'DP04_0026PE',
 'DP04_0027E',
 'DP04_0028PE',
 'DP04_0029PE',
 'DP04_0030PE',
 'DP04_0031PE',
 'DP04_0032PE',
 'DP04_0033PE',
 'DP04_0034PE',
 'DP04_0035PE',
 'DP04_0036PE',
 'DP04_0037E',
 'DP04_0039PE',
 'DP04_0040PE',
 'DP04_0041PE',
 'DP04_0042PE',
 'DP04_0043PE',
 'DP04_0044PE',
 'DP04_0045E',
 'DP04_0046E',
 'DP04_0047PE',
 'DP04_0048E',
 'DP04_0049E',
 'DP04_0050E',
 'DP04_0051PE',
 'DP04_0052PE',
 'DP04_0053PE',
 'DP04_0054PE',
 'DP04_0055PE',
 'DP04_0056PE',
 'DP04_0057E',
 'DP04_0058PE',
 'DP04_0059PE',
 'DP04_0060PE',
 'DP04_0061PE',
 'DP04_0062E',
 'DP04_0063PE',
 'DP04_0064PE',
 'DP04_0065PE',
 'DP04_0066PE',
 'DP04_0067PE',
 'DP04_0068PE',
 'DP04_0069PE',
 'DP04_0070PE',
 'DP04_0071PE',
 'DP04_0072E',
 'DP04_0073PE',
 'DP04_0074PE',
 'DP04_0075PE',
 'DP04_0076E',
 'DP04_0077PE',
 'DP04_0078PE',
 'DP04_0079PE',
 'DP04_0080E',
 'DP04_0081PE',
 'DP04_0082PE',
 'DP04_0083PE',
 'DP04_0084PE',
 'DP04_0085PE',
 'DP04_0086PE',
 'DP04_0087PE',
 'DP04_0088PE',
 'DP04_0089E',
 'DP04_0090E',
 'DP04_0091PE',
 'DP04_0092PE',
 'DP04_0093E',
 'DP04_0094PE',
 'DP04_0095PE',
 'DP04_0096PE',
 'DP04_0097PE',
 'DP04_0098PE',
 'DP04_0099PE',
 'DP04_0100PE',
 'DP04_0101E',
 'DP04_0102E',
 'DP04_0103PE',
 'DP04_0104PE',
 'DP04_0105PE',
 'DP04_0106PE',
 'DP04_0107PE',
 'DP04_0108PE',
 'DP04_0109E',
 'DP04_0110E',
 'DP04_0111PE',
 'DP04_0112PE',
 'DP04_0113PE',
 'DP04_0114PE',
 'DP04_0115PE',
 'DP04_0116E',
 'DP04_0117E',
 'DP04_0118PE',
 'DP04_0119PE',
 'DP04_0121PE',
 'DP04_0122PE',
 'DP04_0123PE',
 'DP04_0124PE',
 'DP04_0125E',
 'DP04_0126E',
 'DP04_0127PE',
 'DP04_0128PE',
 'DP04_0129PE',
 'DP04_0130PE',
 'DP04_0131PE',
 'DP04_0132PE',
 'DP04_0133PE',
 'DP04_0134E',
 'DP04_0135E',
 'DP04_0136E',
 'DP04_0137PE',
 'DP04_0138PE',
 'DP04_0139PE',
 'DP04_0140PE',
 'DP04_0141PE',
 'DP04_0142PE',
 'DP04_0143E',
 'DP05_0001E',
 'DP05_0002PE',
 'DP05_0003PE',
 'DP05_0005E',
 'DP05_0006PE',
 'DP05_0007PE',
 'DP05_0008PE',
 'DP05_0009PE',
 'DP05_0010PE',
 'DP05_0011PE',
 'DP05_0012PE',
 'DP05_0013PE',
 'DP05_0014PE',
 'DP05_0015PE',
 'DP05_0016PE',
 'DP05_0017PE',
 'DP05_0018E',
 'DP05_0019PE',
 'DP05_0020PE',
 'DP05_0071PE',
 'DP05_0077PE',
 'DP05_0078PE',
 'DP05_0079PE',
 'DP05_0080PE',
 'DP05_0081PE',
 'DP05_0082PE',
 'DP05_0083PE',
 'DP05_0084PE',
 'DP05_0085PE',
 'DP05_0087E',
 'DP05_0088PE',
 'DP05_0089PE',
 'GEO_ID',
 'NAME']

In [15]:
df_ats = df_at[those_the_super]

In [29]:
df_ats

,DP02_0001E,DP02_0002E,DP02_0002PE,DP02_0004PE,DP02_0017E,DP02_0024E,DP02_0025PE,DP02_0026PE,DP02_0027PE,DP02_0029PE,...,DP05_0081PE,DP05_0082PE,DP05_0083PE,DP05_0084PE,DP05_0085PE,DP05_0087E,DP05_0088PE,DP05_0089PE,GEO_ID,NAME
1,88,26,29.5,29.5,218,55,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,163,33.7,66.3,1600000US0100100,"Abanda CDP, Alabama"
2,993,614,61.8,41.8,2405,1148,42.9,40.6,3.7,7.1,...,0.0,0.0,0.0,0.0,0.0,2120,52.1,47.9,1600000US0100124,"Abbeville city, Alabama"
3,1472,1061,72.1,47.7,4346,1573,37.8,48.9,0.7,10.9,...,0.3,0.0,1.6,0.0,1.6,3317,44.4,55.6,1600000US0100460,"Adamsville city, Alabama"
4,308,180,58.4,43.5,641,282,23.4,53.9,1.1,14.5,...,0.0,0.0,1.7,0.0,1.7,526,53.0,47.0,1600000US0100484,"Addison town, Alabama"
5,117,60,51.3,34.2,290,120,50.0,40.0,0.0,4.2,...,0.0,0.0,0.0,0.0,0.0,243,49.4,50.6,1600000US0100676,"Akron town, Alabama"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,2120,55.8,44.2,1600000US7286014,"Vieques zona urbana, Puerto Rico"
58365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,2466,44.6,55.4,1600000US7286831,"Villalba zona urbana, Puerto Rico"
58366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,5417,44,56,1600000US7287863,"Yabucoa zona urbana, Puerto Rico"
58367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,12648,46,54,1600000US7288035,"Yauco zona urbana, Puerto Rico"
58368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1069,51.1,48.9,1600000US7288121,"Yaurel comunidad, Puerto Rico"

In [16]:
df_ats = df_ats.drop(index = 0)

In [17]:
df= df_ats

In [18]:
# Make a new column with just the state name
df['State'] = df_ats['NAME'].str.split(",", n = 1, expand=True)[1]
df['State'] = df_ats['State'].str.lstrip()

# Make a new column with just the city name
df['City'] = df_ats['NAME'].str.split(",", n = 1, expand=True)[0]

# Make a new column with just the state name
df['State'] = df_ats['NAME'].str.split(",", n = 1, expand=True)[1]
df['State'] = df_ats['State'].str.lstrip()

# Mark which type of 'place' each city is deamded to be by the US Census Bureau
df['Place_Type_city'] = df_ats['City'].str.contains(pat = ' city')
df['Place_Type_town'] = df_ats['City'].str.contains(pat = ' town')
df['Place_Type_borough'] = df_ats['City'].str.contains(pat = ' borough')
df['Place_Type_CPD'] = df_ats['City'].str.contains(pat = ' CDP')

# Remove that place type from the city name
df['City'] = df_ats['City'].str.replace(' city', '', regex=False)
df['City'] = df_ats['City'].str.replace(' town', '', regex=False)
df['City'] = df_ats['City'].str.replace(' borough', '', regex=False)
df['City'] = df_ats['City'].str.replace(' CDP', '', regex=False)
df['City'] = df_ats['City'].str.rstrip()

In [19]:
df['City'] = df_ats['City'].str.replace('zona urbana', '', regex=False)
df['City'] = df_ats['City'].str.replace(' comunidad', '', regex=False)

In [20]:
df[['City','NAME']]

             City                               NAME
1          Abanda                Abanda CDP, Alabama
2       Abbeville            Abbeville city, Alabama
3      Adamsville           Adamsville city, Alabama
4         Addison              Addison town, Alabama
5           Akron                Akron town, Alabama
...           ...                                ...
58364    Vieques    Vieques zona urbana, Puerto Rico
58365   Villalba   Villalba zona urbana, Puerto Rico
58366    Yabucoa    Yabucoa zona urbana, Puerto Rico
58367      Yauco      Yauco zona urbana, Puerto Rico
58368      Yaurel      Yaurel comunidad, Puerto Rico

[58368 rows x 2 columns]

In [21]:
df

,DP02_0001E,DP02_0002E,DP02_0002PE,DP02_0004PE,DP02_0017E,DP02_0024E,DP02_0025PE,DP02_0026PE,DP02_0027PE,DP02_0029PE,...,DP05_0088PE,DP05_0089PE,GEO_ID,NAME,State,City,Place_Type_city,Place_Type_town,Place_Type_borough,Place_Type_CPD
1,88,26,29.5,29.5,218,55,0.0,100.0,0.0,0.0,...,33.7,66.3,1600000US0100100,"Abanda CDP, Alabama",Alabama,Abanda,False,False,False,True
2,993,614,61.8,41.8,2405,1148,42.9,40.6,3.7,7.1,...,52.1,47.9,1600000US0100124,"Abbeville city, Alabama",Alabama,Abbeville,True,False,False,False
3,1472,1061,72.1,47.7,4346,1573,37.8,48.9,0.7,10.9,...,44.4,55.6,1600000US0100460,"Adamsville city, Alabama",Alabama,Adamsville,True,False,False,False
4,308,180,58.4,43.5,641,282,23.4,53.9,1.1,14.5,...,53.0,47.0,1600000US0100484,"Addison town, Alabama",Alabama,Addison,False,True,False,False
5,117,60,51.3,34.2,290,120,50.0,40.0,0.0,4.2,...,49.4,50.6,1600000US0100676,"Akron town, Alabama",Alabama,Akron,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.8,44.2,1600000US7286014,"Vieques zona urbana, Puerto Rico",Puerto Rico,Vieques,False,False,False,False
58365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.6,55.4,1600000US7286831,"Villalba zona urbana, Puerto Rico",Puerto Rico,Villalba,False,False,False,False
58366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,56.0,1600000US7287863,"Yabucoa zona urbana, Puerto Rico",Puerto Rico,Yabucoa,False,False,False,False
58367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.0,54.0,1600000US7288035,"Yauco zona urbana, Puerto Rico",Puerto Rico,Yauco,False,False,False,False
58368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.1,48.9,1600000US7288121,"Yaurel comunidad, Puerto Rico",Puerto Rico,Yaurel,False,False,False,False

In [22]:

'''
#uscb = uscb.drop(index = 0) # drop first row

# Make a new column with just the city name
uscb['City'] = uscb['NAME'].str.split(",", n = 1, expand=True)[0]

# Make a new column with just the state name
uscb['State'] = uscb['NAME'].str.split(",", n = 1, expand=True)[1]
uscb['State'] = uscb['State'].str.lstrip()

# Make a new column with just the city name
uscb['City'] = uscb['NAME'].str.split(",", n = 1, expand=True)[0]

# Make a new column with just the state name
uscb['State'] = uscb['NAME'].str.split(",", n = 1, expand=True)[1]
uscb['State'] = uscb['State'].str.lstrip()

# Mark which type of 'place' each city is deamded to be by the US Census Bureau
uscb['Place_Type_city'] = uscb['City'].str.contains(pat = ' city')
uscb['Place_Type_town'] = uscb['City'].str.contains(pat = ' town')
uscb['Place_Type_borough'] = uscb['City'].str.contains(pat = ' borough')
uscb['Place_Type_CPD'] = uscb['City'].str.contains(pat = ' CDP')

# Remove that place type from the city name
uscb['City'] = uscb['City'].str.replace(' city', '', regex=False)
uscb['City'] = uscb['City'].str.replace(' town', '', regex=False)
uscb['City'] = uscb['City'].str.replace(' borough', '', regex=False)
uscb['City'] = uscb['City'].str.replace(' CDP', '', regex=False)
uscb['City'] = uscb['City'].str.rstrip()
'''
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [23]:
# Make a state abbrevations column with the dictionary above
df['State_Abbrev'] = df_ats['State'].map(us_state_abbrev)

# Make the column we'll use as the primary key to match up datasets, City_ST
df['City_ST'] = df_ats['City'] + " " + df_ats['State_Abbrev']

In [24]:
df

,DP02_0001E,DP02_0002E,DP02_0002PE,DP02_0004PE,DP02_0017E,DP02_0024E,DP02_0025PE,DP02_0026PE,DP02_0027PE,DP02_0029PE,...,GEO_ID,NAME,State,City,Place_Type_city,Place_Type_town,Place_Type_borough,Place_Type_CPD,State_Abbrev,City_ST
1,88,26,29.5,29.5,218,55,0.0,100.0,0.0,0.0,...,1600000US0100100,"Abanda CDP, Alabama",Alabama,Abanda,False,False,False,True,AL,Abanda AL
2,993,614,61.8,41.8,2405,1148,42.9,40.6,3.7,7.1,...,1600000US0100124,"Abbeville city, Alabama",Alabama,Abbeville,True,False,False,False,AL,Abbeville AL
3,1472,1061,72.1,47.7,4346,1573,37.8,48.9,0.7,10.9,...,1600000US0100460,"Adamsville city, Alabama",Alabama,Adamsville,True,False,False,False,AL,Adamsville AL
4,308,180,58.4,43.5,641,282,23.4,53.9,1.1,14.5,...,1600000US0100484,"Addison town, Alabama",Alabama,Addison,False,True,False,False,AL,Addison AL
5,117,60,51.3,34.2,290,120,50.0,40.0,0.0,4.2,...,1600000US0100676,"Akron town, Alabama",Alabama,Akron,False,True,False,False,AL,Akron AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7286014,"Vieques zona urbana, Puerto Rico",Puerto Rico,Vieques,False,False,False,False,PR,Vieques PR
58365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7286831,"Villalba zona urbana, Puerto Rico",Puerto Rico,Villalba,False,False,False,False,PR,Villalba PR
58366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7287863,"Yabucoa zona urbana, Puerto Rico",Puerto Rico,Yabucoa,False,False,False,False,PR,Yabucoa PR
58367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7288035,"Yauco zona urbana, Puerto Rico",Puerto Rico,Yauco,False,False,False,False,PR,Yauco PR
58368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7288121,"Yaurel comunidad, Puerto Rico",Puerto Rico,Yaurel,False,False,False,False,PR,Yaurel PR

In [25]:
dup = df['NAME'].nunique() - df['City_ST'].nunique()
dup

77

In [26]:
((df_clean.City_ST.value_counts() > 1) == False).sum()

NameError: name 'df_clean' is not defined

In [67]:
df_dirt

[Mountain Park GA       True
 Rice Lake MN           True
 Belle Haven VA         True
 Fairview NJ            True
 Bel Air MD             True
                       ...
 Tamaqua PA            False
 Honokaa HI            False
 West Bishop CA        False
 Flintstone MD         False
 Detroit village IL    False
 Name: City_ST, Length: 29496, dtype: bool]

In [28]:
df_clean = df.drop_duplicates()

In [29]:
df_clean.duplicated().value_counts().sum()

29573

In [53]:
df

,DP02_0001E,DP02_0002E,DP02_0002PE,DP02_0004PE,DP02_0017E,DP02_0024E,DP02_0025PE,DP02_0026PE,DP02_0027PE,DP02_0029PE,...,GEO_ID,NAME,State,City,Place_Type_city,Place_Type_town,Place_Type_borough,Place_Type_CPD,State_Abbrev,City_ST
1,88,26,29.5,29.5,218,55,0.0,100.0,0.0,0.0,...,1600000US0100100,"Abanda CDP, Alabama",Alabama,Abanda,False,False,False,True,AL,Abanda AL
2,993,614,61.8,41.8,2405,1148,42.9,40.6,3.7,7.1,...,1600000US0100124,"Abbeville city, Alabama",Alabama,Abbeville,True,False,False,False,AL,Abbeville AL
3,1472,1061,72.1,47.7,4346,1573,37.8,48.9,0.7,10.9,...,1600000US0100460,"Adamsville city, Alabama",Alabama,Adamsville,True,False,False,False,AL,Adamsville AL
4,308,180,58.4,43.5,641,282,23.4,53.9,1.1,14.5,...,1600000US0100484,"Addison town, Alabama",Alabama,Addison,False,True,False,False,AL,Addison AL
5,117,60,51.3,34.2,290,120,50.0,40.0,0.0,4.2,...,1600000US0100676,"Akron town, Alabama",Alabama,Akron,False,True,False,False,AL,Akron AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7286014,"Vieques zona urbana, Puerto Rico",Puerto Rico,Vieques,False,False,False,False,PR,Vieques PR
58365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7286831,"Villalba zona urbana, Puerto Rico",Puerto Rico,Villalba,False,False,False,False,PR,Villalba PR
58366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7287863,"Yabucoa zona urbana, Puerto Rico",Puerto Rico,Yabucoa,False,False,False,False,PR,Yabucoa PR
58367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7288035,"Yauco zona urbana, Puerto Rico",Puerto Rico,Yauco,False,False,False,False,PR,Yauco PR
58368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600000US7288121,"Yaurel comunidad, Puerto Rico",Puerto Rico,Yaurel,False,False,False,False,PR,Yaurel PR

In [1]:
test = df_clean[df_clean.City_ST == 'Bostonia']
test

NameError: name 'df_clean' is not defined

In [32]:
CPD = df_clean[df_clean.Place_Type_CPD == True]  
print(CPD.shape)
CPD

(9800, 391)

,DP02_0001E,DP02_0002E,DP02_0002PE,DP02_0004PE,DP02_0017E,DP02_0024E,DP02_0025PE,DP02_0026PE,DP02_0027PE,DP02_0029PE,...,GEO_ID,NAME,State,City,Place_Type_city,Place_Type_town,Place_Type_borough,Place_Type_CPD,State_Abbrev,City_ST
1,88,26,29.5,29.5,218,55,0.0,100.0,0.0,0.0,...,1600000US0100100,"Abanda CDP, Alabama",Alabama,Abanda,False,False,False,True,AL,Abanda AL
9,1475,1194,80.9,63.6,4000,1408,14.5,72.9,0.0,8.7,...,1600000US0101180,"Alexandria CDP, Alabama",Alabama,Alexandria,False,False,False,True,AL,Alexandria AL
30,435,362,83.2,78.9,1473,523,25.2,69.6,0.0,5.2,...,1600000US0103508,"Axis CDP, Alabama",Alabama,Axis,False,False,False,True,AL,Axis AL
34,490,418,85.3,63.5,1458,522,24.3,65.5,0.0,8.2,...,1600000US0103820,"Ballplay CDP, Alabama",Alabama,Ballplay,False,False,False,True,AL,Ballplay AL
41,46,14,30.4,30.4,76,40,0.0,35.0,0.0,65.0,...,1600000US0105140,"Belgreen CDP, Alabama",Alabama,Belgreen,False,False,False,True,AL,Belgreen AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29312,0,0,-,-,0,0,-,-,-,-,...,1600000US5682967,"Westview Circle CDP, Wyoming",Wyoming,Westview Circle,False,False,False,True,WY,Westview Circle WY
29314,53,25,47.2,47.2,99,53,0.0,47.2,0.0,52.8,...,1600000US5683100,"Whiting CDP, Wyoming",Wyoming,Whiting,False,False,False,True,WY,Whiting WY
29315,696,512,73.6,70.1,1731,750,28.0,64.9,0.0,7.1,...,1600000US5683765,"Wilson CDP, Wyoming",Wyoming,Wilson,False,False,False,True,WY,Wilson WY
29316,48,27,56.3,56.3,120,62,22.6,77.4,0.0,0.0,...,1600000US5684852,"Woods Landing-Jelm CDP, Wyoming",Wyoming,Woods Landing-Jelm,False,False,False,True,WY,Woods Landing-Jelm WY
29320,30,30,100.0,100.0,84,39,0.0,100.0,0.0,0.0,...,1600000US5686737,"Y-O Ranch CDP, Wyoming",Wyoming,Y-O Ranch,False,False,False,True,WY,Y-O Ranch WY

In [31]:
borough = df_clean[df_clean.Place_Type_borough == True]  
print(borough.shape)
borough

(1219, 391)

,DP02_0001E,DP02_0002E,DP02_0002PE,DP02_0004PE,DP02_0017E,DP02_0024E,DP02_0025PE,DP02_0026PE,DP02_0027PE,DP02_0029PE,...,GEO_ID,NAME,State,City,Place_Type_city,Place_Type_town,Place_Type_borough,Place_Type_CPD,State_Abbrev,City_ST
728,12521,7610,60.8,48.2,31699,13546,33.1,52.1,2.0,10.7,...,1600000US0236400,"Juneau city and borough, Alaska",Alaska,Juneau and,True,False,True,False,AK,Juneau and AK
879,3561,2129,59.8,43.5,8456,3632,30.7,49.8,2.2,12.8,...,1600000US0270540,"Sitka city and borough, Alaska",Alaska,Sitka and,True,False,True,False,AK,Sitka and AK
938,1074,650,60.5,47.7,2431,1124,23.7,51.1,1.7,18.8,...,1600000US0286380,"Wrangell city and borough, Alaska",Alaska,Wrangell and,True,False,True,False,AK,Wrangell and AK
3911,362,161,44.5,39.0,735,295,28.8,50.2,2.7,13.9,...,1600000US0902690,"Bantam borough, Connecticut",Connecticut,Bantam,False,False,True,False,CT,Bantam CT
3934,1822,980,53.8,30.4,3936,1528,44.4,42.3,4.7,5.6,...,1600000US0918780,"Danielson borough, Connecticut",Connecticut,Danielson,False,False,True,False,CT,Danielson CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23262,275,237,86.2,58.9,870,315,37.8,56.5,2.5,3.2,...,1600000US4287136,"York Springs borough, Pennsylvania",Pennsylvania,York Springs,False,False,True,False,PA,York Springs PA
23263,130,101,77.7,63.8,320,143,30.1,58.7,2.8,7.7,...,1600000US4287208,"Youngstown borough, Pennsylvania",Pennsylvania,Youngstown,False,False,True,False,PA,Youngstown PA
23264,761,520,68.3,49.1,1780,698,31.1,55.3,1.0,7.7,...,1600000US4287224,"Youngsville borough, Pennsylvania",Pennsylvania,Youngsville,False,False,True,False,PA,Youngsville PA
23265,1420,765,53.9,43.1,2882,1344,32.1,46.7,3.1,12.1,...,1600000US4287232,"Youngwood borough, Pennsylvania",Pennsylvania,Youngwood,False,False,True,False,PA,Youngwood PA
23267,1805,979,54.2,44.0,3676,1345,23.7,60.9,0.0,8.4,...,1600000US4287272,"Zelienople borough, Pennsylvania",Pennsylvania,Zelienople,False,False,True,False,PA,Zelienople PA

In [ ]:
borough = df_clean[df_clean.Place_Type_borough == True]  
print(borough.shape)
borough

CPD = df_clean[df_clean.Place_Type_CPD == True]  
print(CPD.shape)
CPD

In [33]:
df_clean_cpd = df_clean[df_clean.Place_Type_CPD != True] 
df_extr_clean = df_clean_cpd[df_clean_cpd.Place_Type_borough != True]

TypeError: 'tuple' object is not callable

In [47]:
for_real_clean.to_csv(r'C:\Users\zebfr\city-data1\Try_4\data\df_extra_clean.csv')

In [42]:
df_extr_clean.isnull().sum()

DP02_0001E            253
DP02_0002E            253
DP02_0002PE           253
DP02_0004PE           253
DP02_0017E            253
                     ...
Place_Type_town         0
Place_Type_borough      0
Place_Type_CPD          0
State_Abbrev            2
City_ST                 2
Length: 391, dtype: int64

In [46]:
#df_extr_clean
for_real_clean = df_extr_clean.dropna() 
for_real_clean.isnull().sum()

DP02_0001E            0
DP02_0002E            0
DP02_0002PE           0
DP02_0004PE           0
DP02_0017E            0
                     ..
Place_Type_town       0
Place_Type_borough    0
Place_Type_CPD        0
State_Abbrev          0
City_ST               0
Length: 391, dtype: int64