In [1]:
import pandas as pd

In [2]:
census = pd.read_csv('data/census_df_zillow.csv')

C:\Users\ltown\Anaconda3\envs\unit2\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8,12,16,20,24,28,32,36,40,44,48,52,56,60,62,63,64,66,67,68,70,72,76,80,84,88,92,96,100,104,108,112,116,120,124,128,132,136,140,144,148,154,155,156,158,159,160,162,163,164,166,167,168,170,171,172,176,200,212,216,220,224,228,232,234,236,240,244,248,252,256,260,264,265,266,268,269,270,272,276,280,284,288,292,296,300,304,308,312,316,320,324,328,332,336,340,344,346,348,352,356,360,364,368,372,376,380,384,388,392,404,408,412,416,420,424,428,432,436,440,442,444,448,452,456,460,464,468,472,476,480,484,488,490,492,496,500,504,508,512,516,520,524,528,532,536,540,544,548,552,556,560,564,568,572,576,580,584,588,592,596,600,604,608,612,618,622,626,630,634,638,642,646,647,648,650,654,658,662,666,670,674,678,682,686,690,694,698,702,706,710,712,713,714,718,722,726,730,734,738,742,746,750,754,758,762,766,770,774,778,782,786,790,794,798,802,806,810,814,818,822,826,830,834,838,842,846,850,854,858,860,861,862,864,865,866,870,871,872,873,874,878,880,881,882,886,888,889,890,894,902,910,914,918,922,926,930,934,938,942,946,950,954,955,957,958,959,960,961,962,963,964,965,966,970,971,973,974,975,976,977,978,980,981,982,984,985,986,988,989,990,994,998,1002,1006,1010,1014,1018,1022,1026,1030,1034,1038,1042,1046,1050,1054,1058,1062,1066,1070,1074,1078,1082,1086,1087,1088,1090,1091,1092,1094,1095,1096,1099,1100,1102,1103,1104,1106,1107,1108,1111,1112,1114,1115,1116,1119,1120,1123,1124,1126,1127,1128,1130,1131,1132,1134,1135,1136,1138,1139,1140,1142,1143,1144,1146,1147,1148,1150,1151,1152,1154,1155,1156,1158,1159,1160,1162,1168,1172,1176,1178,1179,1180,1182,1183,1184,1188,1192,1196,1200,1204,1208,1212,1216,1220,1224,1228,1232,1236,1240,1244,1248,1252,1256,1260,1264,1268,1272,1276,1280,1284,1288,1292,1296,1300,1304,1308,1309,1310,1311,1312,1316,1320,1324,1328,1332,1336,1340,1344,1348,1352,1354,1355,1356,1358,1359,1360,1364,1368,1372,1376,1380,1384,1388,1392,1396,1400,1404,1408,1412,1416,1420,1424,1428,1432,1436,1440,1444,1448,1452,1456,1460,1464,1468,1472,1476,1480,1484,1488,1492,1496,1500,1504,1508,1512,1516,1517,1518,1519,1520,1524,1528,1532,1536,1540,1544,1548,1552,1556,1560,1564,1566,1567,1568,1572,1576,1580,1584,1588,1592,1596,1598,1599,1600,1604,1608,1612,1616,1620,1624,1627,1628,1632,1636,1640,1644,1648,1652,1656,1660,1663,1664,1668,1672,1676,1680,1684,1688,1692,1696,1699,1700,1703,1704,1708,1712,1716,1720,1724,1728,1732,1735,1736,1740,1742,1746,1750,1752,1753,1754,1756,1758,1762,1766,1770,1774,1776,1778,1782,1786,1790,1794,1798,1802,1806,1808,1809,1810,1812,1814,1818,1820,1822,1826,1830,1832,1834,1836,1838,1840,1842,1844,1846,1848,1849,1850,1852,1854,1856,1858,1860,1862,1864,1865,1866,1868,1870,1874,1878,1882,1886,1890,1894,1898,1902,1906,1910,1914,1918,1922,1926,1930,1934,1938,1942,1946,1950,1954,1958,1962,1966,1970,1974,1978,1982,1986,1988,1990,1994,1998,2002,2006,2010,2014,2016,2018,2020,2022,2026,2030,2034,2038,2040,2042,2046,2050,2054,2058,2062,2066,2070,2074,2078,2081,2082,2086,2090,2094) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
zillow_columns = ['full_name','zillow_house_bd1', 'zillow_house_bd2', 'zillow_house_bd3','zillow_house_bd4',
                  'zillow_house_bd5', 'zillow_rental_bd1','zillow_rental_bd2','zillow_rental_bd3','zillow_rental_bd4',
                  'zillow_rental_bd5']

zillow_check = pd.DataFrame(census, columns=zillow_columns)

In [35]:
zillow_check.shape

(28925, 11)

In [36]:
zillow_check.head()

,full_name,zillow_house_bd1,zillow_house_bd2,zillow_house_bd3,zillow_house_bd4,zillow_house_bd5,zillow_rental_bd1,zillow_rental_bd2,zillow_rental_bd3,zillow_rental_bd4,zillow_rental_bd5
0,Russellville AL,False,True,True,True,True,False,False,False,False,False
1,Vina AL,False,False,False,False,False,False,False,False,False,False
2,Providence AL,False,False,False,False,False,False,False,False,False,False
3,Grant AL,False,True,True,True,True,False,False,False,False,False
4,Daviston AL,False,False,False,False,False,False,False,False,False,False

In [37]:
house_prices = ['zillow_house_bd1','zillow_house_bd2','zillow_house_bd3','zillow_house_bd4','zillow_house_bd5']

rental_prices = ['zillow_rental_bd1','zillow_rental_bd2','zillow_rental_bd3', 'zillow_rental_bd4','zillow_rental_bd5']

In [38]:
housing_price_check = pd.DataFrame(zillow_check, columns=house_prices)
rental_price_check = pd.DataFrame(zillow_check, columns=rental_prices)

zillow_check['house_price_avail'] = housing_price_check.all(axis='columns')
zillow_check['rental_price_avail'] = rental_price_check.all(axis='columns')

In [39]:
zillow_check.head()

,full_name,zillow_house_bd1,zillow_house_bd2,zillow_house_bd3,zillow_house_bd4,zillow_house_bd5,zillow_rental_bd1,zillow_rental_bd2,zillow_rental_bd3,zillow_rental_bd4,zillow_rental_bd5,house_price_avail,rental_price_avail
0,Russellville AL,False,True,True,True,True,False,False,False,False,False,False,False
1,Vina AL,False,False,False,False,False,False,False,False,False,False,False,False
2,Providence AL,False,False,False,False,False,False,False,False,False,False,False,False
3,Grant AL,False,True,True,True,True,False,False,False,False,False,False,False
4,Daviston AL,False,False,False,False,False,False,False,False,False,False,False,False

In [40]:
zillow_check.to_csv('data/zillow_price_avail.csv')