# Cleaning the data

### In this notebook we clean the data in the all_census_data.csv file

In [19]:
# imports
import pandas as pd
import numpy as np

df = pd.read_csv('all_census_data.csv');

In [26]:
# Clean Data

def clean(x):
    if type(x) == str:
        if '-' in x:
            return 0
        elif '(X)' in x:
            return np.nan
        #otherwise...
    return x


def wrangle(X):
    """
    This function will clean and restructure the dataset
    """
    X = X.drop(index = 0) # drop first row
    
    for column_name in df.columns:
        X[column_name] = X[column_name].apply(clean)
        
    return X

In [27]:
clean_df = wrangle(df)

In [28]:
clean_df.head()

,Unnamed: 0,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
1,1,1600000US0167056,"Russellville city, Alabama",3208,282,3208,NaN,2195,213,68.4,...,5370,NaN,2750,397,51.2,4.3,2620,260,48.8,4.3
2,2,1600000US0178984,"Vina town, Alabama",146,37,146,NaN,101,30,69.2,...,267,NaN,136,43,50.9,6.8,131,44,49.1,6.8
3,3,1600000US0162688,"Providence town, Alabama",101,29,101,NaN,62,25,61.4,...,204,NaN,108,43,52.9,8.9,96,30,47.1,8.9
4,4,1600000US0131096,"Grant town, Alabama",367,58,367,NaN,273,50,74.4,...,798,NaN,356,81,44.6,4.7,442,106,55.4,4.7
5,5,1600000US0119816,"Daviston town, Alabama",93,29,93,NaN,77,22,82.8,...,203,NaN,113,38,55.7,9.4,90,31,44.3,9.4