# Zillow Dataset Cleaning (housing data)

In [8]:
import pandas as pd


# Import datasets

# Houses Data
house_bd1_df = pd.read_csv('datasets/zillow/Housing/City_Zhvi_1bedroom.csv', encoding = 'iso-8859-1')
house_bd2_df = pd.read_csv('datasets/zillow/Housing/City_Zhvi_2bedroom.csv', encoding = 'iso-8859-1')
house_bd3_df = pd.read_csv('datasets/zillow/Housing/City_Zhvi_3bedroom.csv', encoding = 'iso-8859-1')
house_bd4_df = pd.read_csv('datasets/zillow/Housing/City_Zhvi_4bedroom.csv', encoding = 'iso-8859-1')
house_bd5_df = pd.read_csv('datasets/zillow/Housing/City_Zhvi_5bedroomOrMore.csv', encoding = 'iso-8859-1')

# Rentals Data
rental_bd1_df = pd.read_csv('datasets/zillow/Rentals/City_MedianRentalPrice_1Bedroom.csv', encoding = 'iso-8859-1')
rental_bd2_df = pd.read_csv('datasets/zillow/Rentals/City_MedianRentalPrice_2Bedroom.csv', encoding = 'iso-8859-1')
rental_bd3_df = pd.read_csv('datasets/zillow/Rentals/City_MedianRentalPrice_3Bedroom.csv', encoding = 'iso-8859-1')
rental_bd4_df = pd.read_csv('datasets/zillow/Rentals/City_MedianRentalPrice_4Bedroom.csv', encoding = 'iso-8859-1')
rental_bd5_df = pd.read_csv('datasets/zillow/Rentals/City_MedianRentalPrice_5BedroomOrMore.csv', encoding = 'iso-8859-1')

# Census Data
census_df = pd.read_csv('datasets/all_census_formated.csv')

# Shapes of housing data
print('Shape of house_bd1_df:', house_bd1_df.shape)
print('Shape of house_bd2_df:', house_bd2_df.shape)
print('Shape of house_bd3_df:', house_bd3_df.shape)
print('Shape of house_bd4_df:', house_bd4_df.shape)
print('Shape of house_bd5_df:', house_bd5_df.shape)

# Shapes of Rentals data
print('Shape of rental_bd1_df:', rental_bd1_df.shape)
print('Shape of rental_bd2_df:', rental_bd2_df.shape)
print('Shape of rental_bd3_df:', rental_bd3_df.shape)
print('Shape of rental_bd4_df:', rental_bd4_df.shape)
print('Shape of rental_bd5_df:', rental_bd5_df.shape)

Shape of house_bd1_df: (11106, 149)
Shape of house_bd2_df: (19552, 149)
Shape of house_bd3_df: (21749, 149)
Shape of house_bd4_df: (21863, 149)
Shape of house_bd5_df: (17569, 149)
Shape of rental_bd1_df: (803, 123)
Shape of rental_bd2_df: (1263, 123)
Shape of rental_bd3_df: (989, 123)
Shape of rental_bd4_df: (317, 123)
Shape of rental_bd5_df: (53, 112)

## Merge the different zillow datasets

In [ ]:
# TODO - Merge the different Zillow datasets

## Create a name column that is formatted in a simlar way to the main census data's column 'full_name'

In [12]:
# Used in 'merge_names' function to rearrange the columns ('State' & 'RegionName' are omitted)

cols  = ['RegionID',
         'full_name',
         'CountyName',
         'Metro',
         'SizeRank',
         '2008-01',
         '2008-02',
         '2008-03',
         '2008-04',
         '2008-05',
         '2008-06',
         '2008-07',
         '2008-08',
         '2008-09',
         '2008-10',
         '2008-11',
         '2008-12',
         '2009-01',
         '2009-02',
         '2009-03',
         '2009-04',
         '2009-05',
         '2009-06',
         '2009-07',
         '2009-08',
         '2009-09',
         '2009-10',
         '2009-11',
         '2009-12',
         '2010-01',
         '2010-02',
         '2010-03',
         '2010-04',
         '2010-05',
         '2010-06',
         '2010-07',
         '2010-08',
         '2010-09',
         '2010-10',
         '2010-11',
         '2010-12',
         '2011-01',
         '2011-02',
         '2011-03',
         '2011-04',
         '2011-05',
         '2011-06',
         '2011-07',
         '2011-08',
         '2011-09',
         '2011-10',
         '2011-11',
         '2011-12',
         '2012-01',
         '2012-02',
         '2012-03',
         '2012-04',
         '2012-05',
         '2012-06',
         '2012-07',
         '2012-08',
         '2012-09',
         '2012-10',
         '2012-11',
         '2012-12',
         '2013-01',
         '2013-02',
         '2013-03',
         '2013-04',
         '2013-05',
         '2013-06',
         '2013-07',
         '2013-08',
         '2013-09',
         '2013-10',
         '2013-11',
         '2013-12',
         '2014-01',
         '2014-02',
         '2014-03',
         '2014-04',
         '2014-05',
         '2014-06',
         '2014-07',
         '2014-08',
         '2014-09',
         '2014-10',
         '2014-11',
         '2014-12',
         '2015-01',
         '2015-02',
         '2015-03',
         '2015-04',
         '2015-05',
         '2015-06',
         '2015-07',
         '2015-08',
         '2015-09',
         '2015-10',
         '2015-11',
         '2015-12',
         '2016-01',
         '2016-02',
         '2016-03',
         '2016-04',
         '2016-05',
         '2016-06',
         '2016-07',
         '2016-08',
         '2016-09',
         '2016-10',
         '2016-11',
         '2016-12',
         '2017-01',
         '2017-02',
         '2017-03',
         '2017-04',
         '2017-05',
         '2017-06',
         '2017-07',
         '2017-08',
         '2017-09',
         '2017-10',
         '2017-11',
         '2017-12',
         '2018-01',
         '2018-02',
         '2018-03',
         '2018-04',
         '2018-05',
         '2018-06',
         '2018-07',
         '2018-08',
         '2018-09',
         '2018-10',
         '2018-11',
         '2018-12',
         '2019-01',
         '2019-02',
         '2019-03',
         '2019-04',
         '2019-05',
         '2019-06',
         '2019-07',
         '2019-08',
         '2019-09',
         '2019-10',
         '2019-11']

In [13]:
def merge_names(X):
    
    full_name = []
    for x in range(0,len(X.RegionName)):
        full_name.append(X.RegionName[x] + ' ' + X.State[x])
    
    X.columns
    
    #insert full_name column
    X['full_name'] = full_name
    
    # rearrange columns (dropped state and county name)
    X = X[cols]
    
    return X

In [14]:
city_3bedroom = merge_names(city_3bedroom)
city_3bedroom.head()

,RegionID,full_name,CountyName,Metro,SizeRank,2008-01,2008-02,2008-03,2008-04,2008-05,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,6181,New York NY,Queens County,New York-Newark-Jersey City,1,531528.0,530995.5,529241.333333,526023.333333,521262.000000,...,666603.000000,666840.000000,666353.333333,665724.000000,664686.666667,663910.000000,662196.666667,660026.666667,658581.333333,657381.000000
1,12447,Los Angeles CA,Los Angeles County,Los Angeles-Long Beach-Anaheim,2,NaN,NaN,NaN,NaN,NaN,...,673170.333333,672187.333333,672751.333333,674247.333333,677295.666667,674857.666667,674256.333333,674942.000000,680733.666667,684614.666667
2,39051,Houston TX,Harris County,Houston-The Woodlands-Sugar Land,3,122688.0,122438.0,122225.666667,121635.666667,120824.666667,...,169555.666667,170030.333333,170101.333333,170234.333333,170786.000000,171343.333333,172104.666667,172547.666667,173417.666667,173954.333333
3,17426,Chicago IL,Cook County,Chicago-Naperville-Elgin,4,NaN,NaN,NaN,224218.000000,226012.000000,...,230819.000000,231599.000000,232870.333333,233604.333333,233436.666667,232641.666667,231607.333333,230647.666667,230221.666667,230291.000000
4,6915,San Antonio TX,Bexar County,San Antonio-New Braunfels,5,123274.0,123175.0,123077.666667,122939.333333,122775.000000,...,168671.333333,169303.333333,169953.000000,170333.666667,170927.666667,171508.666667,172184.000000,173138.333333,173808.666667,174415.666667

## Merge Data

In [78]:
# Merge all intersecting data from the zillow data into the main census data
merged = pd.merge(census_df, city_3bedroom, on = 'full_name', how = 'right')

In [84]:
print('The Main Census Data Shape:',census_df.shape)
print('The shape of the Zillow data',city_3bedroom.shape)
print('The shape of data after merge:',merged.shape)

The Main Census Data Shape: (28920, 2107)
The shape of the Zillow data (21749, 148)
The shape of data after merge: (21749, 2254)